.title {
    text-align: center;
    font-size: 5rem;
    color: #F3AAAA;
}


/* Colors*/

.green {
    background: #03c4a1;
}

.violet {
    background: #590995;
}

.pink {
    background: #F3AAAA;
}

.blue {
    background: #150485;
}

.purple {
    background: #A88BEB;
}

.container-fluid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 4rem;
    column-gap: 10px;
    row-gap: 15px;
}

.container-item {
    border: 5px solid #ffffff;
    padding: 2rem;
    justify-content: space-between;
}

.zone {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 10em;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/